@import '../../../scss/color.scss';
@import '../../../scss/font-size.scss';

.container {
    padding: 50px 200px;
}

.title {
    text-align: center;
    font-weight: normal;
}

.formGroup {
    display: flex;
    flex-direction: column;

    mat-form-field {
        margin-top: 30px;

        ::ng-deep {
            .mat-form-field-outline {
                background-color: white !important;
            }
        }
    }
    
    &__button {
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;

        button {
            height: 50px;
            width: 200px;
            font-size: $medium;
        }

        &--submit {
            background-color: $orange;
            color: white;

            mat-icon {
                margin-right: 10px;
            }
        }

        &--cancel {
            border: 1px solid $gray;
            color: $gray;

            mat-icon {
                margin-right: 10px;
            }
        }
    }

    &__error:not(:first-child) {
        margin-top: 8px;
    }
}