@import '../../../../scss/color.scss';
@import '../../../../scss/font-size.scss';

.container {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.header {
    padding: 40px 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: $background;
    border-bottom: 3px solid $light-gray;
    display: flex;
    justify-content: space-between;
    z-index: 5;

    button {
        height: 50px;
        width: 180px;
        color: white;
        font-size: $medium;
        align-self: center;
        background-color: $brown;

        mat-icon {
            font-size: $medium;
            margin-right: 5px;
        }
    }
}

.error {
    color: $deep-red;
}

.none-border {
    border: none;
}

.spinner {
    padding: 100px 0;
}

.main {
    background-color: white;
    border-right: 3px solid $light-gray;
    border-left: 3px solid $light-gray;
    border-bottom: 3px solid $light-gray;

    .nextButton {
        height: 50px;
        width: 250px;
        color: white;
        font-size: $medium;
        background-color: $deep-orange;
    
        mat-icon {
            line-height: calc($medium + 10px);
            margin-left: 10px;
        }
    }
    
    .previousButton {
        height: 50px;
        width: 250px;
        color: white;
        font-size: $medium;
        margin-right: 10px;
        border: 2px solid $orange;
        color: $orange;
    
        mat-icon {
            line-height: calc($medium + 10px);
            margin-right: 10px;
        }
    }

    mat-horizontal-stepper {
        ::ng-deep {
            .mat-step-header {
                .mat-step-icon-state-number {
                    color: white !important;
                }
        
                .mat-step-icon-selected {
                    background-color: $deep-orange !important;
                }
            
                .mat-step-icon-state-edit {
                    background-color: $orange !important;
                    color: white !important;
                }
        
                .mat-step-label {
                    font-size: $medium;
                }
            }

            .mat-horizontal-stepper-header-container {
                position: sticky;
                top: 163px;
                left: 0;
                background: white;
                z-index: 2;
                box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .5);
            }

            .mat-horizontal-content-container {
                padding: 60px 40px;
            }
        }
    }

    .explain-image {
        width: 100%;
        height: 400px;
        object-fit: contain;
    }

    .notEditable {
        ::ng-deep {
            .mat-step-header {
                .mat-step-icon-state-edit {
                    background-color: rgba(0, 0, 0, 0.54) !important;
                    color: white !important;
                }
            }
        }
    }

    .required-info {
        &__content {
            padding-bottom: 50px;
            position: relative;

            &:not(:first-child) {
                padding-top: 50px;
            }
        }

        &__title {
            margin-bottom: 30px;
            display: flex;
            align-items: center;

            &--required {
                color: $deep-red;
                margin-left: 20px;
            }

            &--button {
                display: flex;
                align-self: center;
                color: $brown;
                background-color: white;
                border: 2px solid $brown;
                
                mat-icon {
                    line-height: $medium;
                    margin-right: 10px;
                    margin-top: 3px;
                }
            }
        }

        &__form {
            width: 100%;

            textarea {
                height: 150px;
            }
        }

        &__selector {
            display: flex;
            flex-direction: column;
            width: fit-content;

            &--radio-button {
                margin-bottom: 30px;

                mat-radio-button:nth-child(2) {
                    margin-left: 30px;
                }
            }

            &--detail-input {
                padding: 0 20px;
                display: none;
            }

            .visible {
                display: block;
            }
        }

        &__radio-group {
            display: flex;
            flex-direction: column;

            mat-radio-button:not(:first-child) {
                margin-top: 30px;
            }
        }

        &__buttons {
            justify-content: flex-end;
            display: flex;

            .disabled {
                background-color: $gray;
                opacity: 0.5;
            }
        }
    }

        
        
    .optional-info {
        &__content {
            padding-bottom: 50px;
            position: relative;

            &:not(:first-child) {
                padding-top: 50px;
            }
        }

        &__title {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;

            &--button {
                display: flex;
                align-self: center;
                color: $brown;
                background-color: white;
                border: 2px solid $brown;
                
                mat-icon {
                    line-height: $medium;
                    margin-right: 10px;
                    margin-top: 3px;
                }
            }
        }

        &__form {
            border: 1px solid $gray;
            border-radius: 5px;
            height: 50px;
            padding: 1px  5px;
            display: flex;
            align-items: center;

            &.focus {
                border: 2px solid $deep-orange;
            }
            
            &--searchIcon {
                margin: 5px;
            }

            &--clearIcon {
                margin: 0 15px;
                cursor: pointer;
                position: absolute;
                right: 0;
            }

            &--inner {
                width: auto;
                height: 95%;

                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                }

                input[type="text"]:focus {
                    border: none;
                    outline: 0;
                }

                .result-list {
                    text-align: left;
                    cursor: pointer;
                    font-size: $small;
                    padding: 15px 20px;

                    &.active {
                        background-color: $deep-white;
                        text-decoration: underline;
                    }
                }
            }
        }

        &__number-form {
            &--inner {
                text-align: center;
            }
        }

        &__clone-container {
            mat-icon {
                font-size: 35px;
            }

            &--remove-button {
                color: $deep-red;
            }

            &--inner {
                margin-bottom: 30px;
                align-items: center;

                input {
                    height: 50px;
                    width: 85%;
                }

                input[type="text"]:focus {
                    border: 2px solid $deep-orange;
                    outline: 0;
                }
            }
        }

        

        &__no-results {
            padding: 88px 0;
            text-align: center;
        }

        &__spinner-container {
            padding: 72px;
        }

        &__buttons {
            justify-content: space-between;
            display: flex;
        }
    }
    

    .confirmation {
        &__buttons {
            justify-content: space-between;
            display: flex;
            margin-top: 50px;

            &--submitButton {
                height: 50px;
                width: 250px;
                color: white;
                font-size: $medium;
                background-color: $deep-orange;
            
                mat-icon {
                    line-height: calc($medium + 10px);
                    margin-right: 10px;
                }
            }
        }
    }
}
