<div class='container'>
    <header class='header' [class.none-border]='isUploading'>
        <ui-sticky-note [size]='"xlarge"' [right-icon]='"pan_tool"'>
            <span class='stickyNote'>レシピ注文</span>
        </ui-sticky-note>
        <button mat-raised-button>
            <mat-icon>save_alt</mat-icon>
            <span>一時保存</span>
        </button>
    </header>
    <div class='spinner' *ngIf='isUploading'>
        <ui-spinner size='large'></ui-spinner>
    </div>
    <main class='main' *ngIf='!isUploading'>
        <mat-horizontal-stepper [class.notEditable]='requiredData.invalid' linear>
            <mat-step [stepControl]='requiredData' class='required-info'>
                <ng-template matStepLabel>必須情報</ng-template>
                <form [formGroup]='requiredData'>

                    <section class='required-info__content'>
                        <div class='required-info__title'>
                            <ui-sticky-note [size]='"medium"' [isRequired]='true'>
                                <span class='stickyNote'>料理名</span>
                            </ui-sticky-note>
                        </div>
                        <mat-form-field class='required-info__form' appearance="outline" color='warn'>
                            <input matInput type='text' formControlName='title'/>
                            <mat-error *ngIf='title.invalid'>
                                <div class='error'>{{getErrorMessage(title)}}</div>
                            </mat-error>
                        </mat-form-field>
                    </section>

                    <mat-divider></mat-divider>

                    <section class='required-info__content'>
                        <div class='required-info__title'>
                            <ui-sticky-note [size]='"medium"' [isRequired]='true'>
                                <span class='stickyNote'>注文内容の詳細説明</span>
                            </ui-sticky-note>
                        </div>
                        <mat-form-field class='required-info__form' appearance="outline" color='warn'>
                            <textarea matInput type='textarea' formControlName='description'></textarea>
                            <mat-error *ngIf='description.invalid'>
                                <div class='error'>{{getErrorMessage(description)}}</div>
                            </mat-error>
                        </mat-form-field>
                    </section>

                    <mat-divider></mat-divider>

                    <section class='required-info__content'>
                        <div class='required-info__title'>
                            <ui-sticky-note [size]='"medium"' [isRequired]='true'>
                                <span class='stickyNote'>希望日</span>
                            </ui-sticky-note>
                        </div>
                        
                        <div class='required-info__selector'>
                            <mat-radio-group class='required-info__selector--radio-button' formControlName='dateType'>
                                <mat-radio-button [value]='OrderDateTypeEnum.Detail'>{{_getOrderDateTypeLabel(OrderDateTypeEnum.Detail)}}</mat-radio-button>
                                <mat-radio-button [value]='OrderDateTypeEnum.Always'>{{_getOrderDateTypeLabel(OrderDateTypeEnum.Always)}}</mat-radio-button>
                            </mat-radio-group>

                            <mat-form-field class='required-info__selector--detail-input' [class.visible]='dateType.value == OrderDateTypeEnum.Detail' appearance="fill" color='warn'>
                                <mat-label>日付の指定</mat-label>
                                <input [min]='today' matInput [matDatepicker]="picker" formControlName='date'>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                                <mat-error *ngIf='date.invalid'>
                                    <div class='error'>{{getErrorMessage(date)}}</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </section>

                    <mat-divider></mat-divider>

                    <section class='required-info__content'>
                        <div class='required-info__title'>
                            <ui-sticky-note [size]='"medium"' [isRequired]='true'>
                                <span class='stickyNote'>料理の頻度</span>
                            </ui-sticky-note>
                        </div>
                        <mat-radio-group class='required-info__radio-group' formControlName='frequency'>
                            <mat-radio-button [value]='OrderFrequencyTypeEnum.AlwaysAtWork'>{{_getOrderFrequencyTypeLabel(OrderFrequencyTypeEnum.AlwaysAtWork)}}</mat-radio-button>
                            <mat-radio-button [value]='OrderFrequencyTypeEnum.AlwaysForHouseWork'>{{_getOrderFrequencyTypeLabel(OrderFrequencyTypeEnum.AlwaysForHouseWork)}}</mat-radio-button>
                            <mat-radio-button [value]='OrderFrequencyTypeEnum.AlwaysAsHobby'>{{_getOrderFrequencyTypeLabel(OrderFrequencyTypeEnum.AlwaysAsHobby)}}</mat-radio-button>
                            <mat-radio-button [value]='OrderFrequencyTypeEnum.Sometimes'>{{_getOrderFrequencyTypeLabel(OrderFrequencyTypeEnum.Sometimes)}}</mat-radio-button>
                            <mat-radio-button [value]='OrderFrequencyTypeEnum.NotAtAll'>{{_getOrderFrequencyTypeLabel(OrderFrequencyTypeEnum.NotAtAll)}}</mat-radio-button>
                            <mat-radio-button [value]='OrderFrequencyTypeEnum.InputByMyself'>{{_getOrderFrequencyTypeLabel(OrderFrequencyTypeEnum.InputByMyself)}}</mat-radio-button>
                        </mat-radio-group>
                    </section>

                    <section class='required-info__buttons'>
                        <button class='nextButton' [class.disabled]='requiredData.invalid' mat-raised-button matStepperNext [disabled]='requiredData.invalid'>
                            <span>任意情報へ進む</span><mat-icon>arrow_forward</mat-icon>
                        </button>
                    </section>
                </form>
            </mat-step>

            <mat-step class='optional-info'>
                <ng-template matStepLabel>任意情報</ng-template>
                <section class='optional-info__content'>
                    <div class='optional-info__title'>
                        <ui-sticky-note [size]='"medium"' [left-icon]='"help"' (action)='isShow = $event' [isOptional]='true'
                            dirPopUpTrigger [target]='explainPopup' [isOutputAction]='isShow'>
                            <span class='stickyNote'>カテゴリー</span>
                        </ui-sticky-note>
                        <button class='optional-info__title--button' mat-flat-button (click)='addGenre.openDialog()'>
                            <mat-icon>add_circle</mat-icon>
                            <span>カテゴリーの追加希望</span>
                        </button>
                    </div>

                    <ui-pop-up #explainPopup>
                        <!-- <img class='explain-image' src='../../../assets/images/explain.gif' /> -->
                    </ui-pop-up>
                    
                    <div class='optional-info__form' [class.focus]='isFocus' (click)='onFormFocus()'>
                        <mat-icon class='optional-info__form--searchIcon'>search</mat-icon>
                        <ui-tag *ngFor='let selectedCategory of selectedCategories' [value]='selectedCategory.name' [isRemoval]='true' (remove)='removeTag(selectedCategory)'></ui-tag>
                        <div class='optional-info__form--inner'>
                            <input #form type='text' [(ngModel)]='input' (ngModelChange)='onSearchCategory()'
                                dirPopUpTrigger [target]='resultPopup' [input]='input' [inputtable]='true' [width]='200' 
                                (focus)='isFocus = true' (blur)='isFocus = false' />
                            <ui-pop-up #resultPopup [inputtable]='true'>
                                <ui-list *ngIf='!isSearching && searchedCategories.length > 0'>
                                    <a class='result-list' [class.active]='activeList == searchedCategory.name' 
                                        *ngFor='let searchedCategory of searchedCategories' (click)='addTag(searchedCategory)' (mouseenter)='activeList = searchedCategory.name'>
                                        {{searchedCategory.name}}
                                    </a>
                                </ui-list>
                                <div class='optional-info__no-results' *ngIf='!isSearching && searchedCategories.length == 0'>
                                    <span>検索結果なし</span>
                                </div>
                                <div class='optional-info__spinner-container' *ngIf='isSearching'>
                                    <ui-spinner [size]='"small"'></ui-spinner>
                                </div>
                            </ui-pop-up>
                        </div>
                        <mat-icon *ngIf='input' class='optional-info__form--clearIcon' (click)='removeInput()'>backspace</mat-icon>
                    </div>
                </section>

                <mat-divider></mat-divider>

                <section class='optional-info__content'>
                    <div class='optional-info__title'>
                        <ui-sticky-note [size]='"medium"' [isOptional]='true'>
                            <span class='stickyNote'>希望の作成時間</span>
                        </ui-sticky-note>
                    </div>

                    <div class='optional-info__number-form'>
                        <mat-form-field appearance="outline" color='warn'>
                            <input class='optional-info__number-form--inner' matInput type="number" step="1" min="1" 
                                [(ngModel)]='creationTime' (change)='convertCreationTimeToInteger()'>
                            <mat-icon matPrefix>alarm</mat-icon>
                            <span matSuffix>分以内</span>
                        </mat-form-field>
                    </div>
                </section>

                <mat-divider></mat-divider>

                <section class='optional-info__content'>
                    <div class='optional-info__title'>
                        <ui-sticky-note [size]='"medium"' [isOptional]='true'>
                            <span class='stickyNote'>持っている料理道具</span>
                        </ui-sticky-note>
                    </div>
                    <ui-clone-input-form (formValues)='toolFormValues = $event'></ui-clone-input-form>
                </section>

                <mat-divider></mat-divider>

                <section class='optional-info__content'>
                    <div class='optional-info__title'>
                        <ui-sticky-note [size]='"medium"' [isOptional]='true'>
                            <span class='stickyNote'>希望する材料</span>
                        </ui-sticky-note>
                    </div>
                    <ui-clone-input-form (formValues)='ingredientsFormValues = $event'></ui-clone-input-form>
                </section>

                <section class='optional-info__buttons'>
                    <button class='previousButton' mat-flat-button matStepperPrevious>
                        <mat-icon>keyboard_return</mat-icon><span>基本情報へ戻る</span>
                    </button>
                    <button class='nextButton' mat-raised-button matStepperNext>
                        <span>確認画面へ進む</span><mat-icon>arrow_forward</mat-icon>
                    </button>
                </section>
                
            </mat-step>

            <mat-step class='confirmation'>
                <ng-template matStepLabel>確認画面</ng-template>
                <parts-order-detail-content [value]='orderRequest'></parts-order-detail-content>
                <div class='confirmation__buttons'>
                    <button class='previousButton' mat-flat-button matStepperPrevious>
                        <mat-icon>keyboard_return</mat-icon><span>任意情報へ戻る</span>
                    </button>
                    <button class='confirmation__buttons--submitButton' mat-raised-button (click)='onSubmit()'>
                        <mat-icon>move_to_inbox</mat-icon><span>投稿する</span>
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>

    </main>
</div>