<section class='header'>
    <div class='header__left'>
        <div *ngIf='desiredDate' class='header__desired-date mat-elevation-z2'>
            <mat-icon>date_range</mat-icon>
            <span>期限：{{desiredDate == OrderDateTypeEnum.Always? _getOrderDateTypeLabel(desiredDate) : desiredDate}}</span>
        </div>
        <div *ngIf='categories' class='header__categories'>
            <ui-category-tag *ngFor='let category of categories' [value]='category.name'></ui-category-tag>
        </div>
    </div>
    <div class='header__right'>
        <mat-icon>person</mat-icon>
        <span>{{user.userName}}</span>
    </div>
</section>

<mat-divider></mat-divider>

<section class='title'>
    <h1 *ngIf='type == "detail"'>{{name}}</h1>
    <u><a *ngIf='type == "list"' (click)='trasition()'>{{name}}</a></u>
</section>

<mat-divider></mat-divider>