@import '../../../../../scss/color.scss';
@import '../../../../../scss/font-size.scss';

.container {
    height: 100%;
    width: 100%;
}

mat-divider {
    margin: 20px 0;
}

.pre-wrap {
    white-space: pre-wrap;
}

.user-info {
    display: flex;
    flex-direction: column;

        &--top, &--bottom {
            width: fit-content;
            display: flex;
            justify-content: flex-end;
            font-size: $small;
            align-items: center;
            border: 2px $deep-brown solid;
            border-radius: 5px;
            padding: 10px 15px;
            color: $deep-brown;
        }

        &--bottom {
            margin-top: 20px;
        }

        mat-icon {
            font-size: 23px;
            margin-right: 10px;
        }

        span {
            font-size: $small;
        }
}


.description {
    margin-top: 80px;
    
    &__content {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 5px;
    }
}

.tool, .ingredients {
    margin-top: 40px;

    &__content {
        margin-top: 20px;
        padding: 20px 10px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 5px;

        &--name {
            padding: 0 20px;
        }
    }
}