<div class='container'>
    <section>
        <parts-order-title-content
            [name]='value.name'
            [desired_date]='value.desired_date'
            [categories]='value.categories'
        >
        </parts-order-title-content>
    </section>

    <section class='user-info'>
        <div class='user-info--top' *ngIf='value.desired_cooking_time'>
            <mat-icon>alarm</mat-icon>
            <span>作成時間：{{value.desired_cooking_time}}&ensp;分</span>
        </div>
        <div class='user-info--bottom' *ngIf='value.cooking_frequency'>
            <mat-icon>restaurant_menu</mat-icon>
            <span>料理の頻度：{{_getOrderFrequencyTypeLabel(value.cooking_frequency)}}</span>
        </div>
    </section>

    <section class='description'>
        <ui-sticky-note size='medium'>
            <span class='stickyNote'>注文内容の説明</span>
        </ui-sticky-note>
        <div class='description__content'>
            <span class='pre-wrap'>{{value.description}}</span>
        </div>
    </section>

    <section class='tool' *ngIf='value.tools && value.tools.length > 0'>

        <ui-sticky-note size='medium'>
            <span class='stickyNote'>持っている道具</span>
        </ui-sticky-note>
        
        <div class='tool__content'>
            <ng-container *ngFor='let tool of value.tools; let isLast = last'>
                <div class='tool__content--name'>{{tool}}</div>
                <mat-divider *ngIf='!isLast'></mat-divider>
            </ng-container>
        </div>
    </section>

    <section class='ingredients' *ngIf='value.ingredients && value.ingredients.length > 0'>

        <ui-sticky-note size='medium'>
            <span class='stickyNote'>希望する材料</span>
        </ui-sticky-note>
        
        <div class='ingredients__content'>
            <ng-container *ngFor='let ingredient of value.ingredients; let isLast = last'>
                <div class='ingredients__content--name'>{{ingredient}}</div>
                <mat-divider *ngIf='!isLast'></mat-divider>
            </ng-container>
        </div>
    </section>


</div>
