<div class='container'>
    <section class='ranking-board'>
        <ui-board>
            <div class='board-title'>週間レシピランキング</div>
            <button class='board-button' mat-raised-button>詳しくみる</button>
        </ui-board>
    </section>

    <section class='lists'>
        <ui-card>
            <div class='card-title'>週間ヒットワード</div>
        </ui-card>
        <ui-card>
            <div class='card-title'>新着注文一覧</div>
            <button class='card-button' mat-raised-button>詳しくみる</button>
        </ui-card>
    </section>
</div>
