<div class='container'>
    <div class='ranking-board'>
        <ui-sticky-note [size]='"large"'>
            <span class='stickyNote'>週間ランキング</span>
        </ui-sticky-note>
        <div class='space'></div>
        <ui-board>
            <button class='board-button' mat-raised-button>詳しくみる</button>
        </ui-board>
    </div>

    <div class='lists'>
        <div>
            <ui-sticky-note [size]='"large"'>
                <span class='stickyNote'>週間ヒットワード</span>
            </ui-sticky-note>
            <div class='space'></div>
            <ui-card></ui-card>
        </div>
        <div>
            <ui-sticky-note [size]='"large"'>
                <span class='stickyNote'>新着注文一覧</span>
            </ui-sticky-note>
            <div class='space'></div>
            <ui-card>
                <button class='card-button' mat-raised-button>詳しくみる</button>
            </ui-card>
        </div>
    </div>
</div>
