<div class='container'>
    <header class='header'>
        <ui-sticky-note [size]='"xlarge"' [right-icon]='"pan_tool"'>
            <span class='stickyNote'>レシピ注文</span>
        </ui-sticky-note>
        <button mat-raised-button>
            <mat-icon>save_alt</mat-icon>
            <span>一時保存</span>
        </button>
    </header>
    <main class='main'>
        <mat-horizontal-stepper>
            <mat-step class='required-info'>
                <ng-template matStepLabel>必須情報</ng-template>

                <section class='required-info__content'>
                    <div class='required-info__title'>
                        <ui-sticky-note [size]='"medium"' [left-icon]='"help"' (action)='isShow = $event'
                            dirPopUpTrigger [target]='explainPopup' [isOutputAction]='isShow'>
                            <span class='stickyNote'>ジャンル</span>
                        </ui-sticky-note>
                        <button class='required-info__title--button' mat-flat-button (click)='addGenre.openDialog()'>
                            <mat-icon>add_circle</mat-icon>
                            <span>ジャンルの追加希望</span>
                        </button>
                    </div>

                    <ui-pop-up #explainPopup>
                        <img class='explain-image' src='../../../assets/images/explain.gif' />
                    </ui-pop-up>
                    
                    <div class='required-info__form' [class.focus]='isFocus' (click)='onFormFocus()'>
                        <div *ngFor='let selectInput of selectedInputs' class='required-info__form--tag mat-elevation-z2'>
                            <mat-icon (click)='removeTag(selectInput)'>remove_circle</mat-icon>
                            <div>{{selectInput}}</div>
                        </div>
                        <mat-icon class='required-info__form--searchIcon'>search</mat-icon>
                        <div class='required-info__form--inner'>
                            <input #form type='text' [(ngModel)]='input' (ngModelChange)='onSearchGenre()'
                                dirPopUpTrigger [target]='resultPopup' [input]='input' [inputtable]='true' [width]='200' 
                                (focus)='isFocus = true' (blur)='isFocus = false' />
                            <ui-pop-up #resultPopup [inputtable]='true'>
                                <ui-list>
                                    <a class='result-list' [class.active]='activeList == result' 
                                        *ngFor='let result of results' (click)='addTag(result)' (mouseenter)='activeList = result'>
                                        {{result}}
                                    </a>
                                </ui-list>
                            </ui-pop-up>
                        </div>
                        <mat-icon *ngIf='input' class='required-info__form--clearIcon' (click)='input = undefined'>backspace</mat-icon>
                    </div>
                </section>

                <mat-divider></mat-divider>

                <section class='required-info__content'>
                    <div class='required-info__title'>
                        <ui-sticky-note [size]='"medium"'>
                            <span class='stickyNote'>希望日</span>
                        </ui-sticky-note>
                    </div>
                    <div class='required-info__selector'>
                        <mat-form-field appearance="fill">
                            <mat-label>希望日</mat-label>
                            <mat-select #dateSelector [(ngModel)]='selectedDate' (selectionChange)='selectedDate == "詳細入力"? onSelectDateFormFocus():""'>
                                <mat-option [value]="'１週間以内'">１週間以内</mat-option>
                                <mat-option [value]="'３週間以内'">３週間以内</mat-option>
                                <mat-option [value]="'１ヶ月以内'">１ヶ月以内</mat-option>
                                <mat-option [value]="'３ヶ月以内'">３ヶ月以内</mat-option>
                                <mat-option [value]="'半年以内'">半年以内</mat-option>
                                <mat-option [value]="'いつでも良い'">いつでも良い</mat-option>
                                <mat-option [value]="'詳細入力'" matTooltip='詳細な日時を手入力できます' matTooltipPosition="right">詳細入力</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class='required-info__selector--detail-input' appearance="fill" [class.visible]='selectedDate == "詳細入力"'>
                            <mat-label>詳細入力</mat-label>
                            <input #selectDateForm='matInput' matInput [matDatepicker]="picker1">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </section>

                <mat-divider></mat-divider>

                <section class='required-info__content'>
                    <div class='required-info__title'>
                        <ui-sticky-note [size]='"medium"'>
                            <span class='stickyNote'>料理の腕前</span>
                        </ui-sticky-note>
                    </div>
                </section>

                <section class='required-info__buttons'>
                    <button class='nextButton' mat-raised-button matStepperNext>
                        <span>任意情報へ進む</span><mat-icon>arrow_forward</mat-icon>
                    </button>
                </section>

            </mat-step>
            <mat-step class='optional-info'>
                <ng-template matStepLabel>任意情報</ng-template>
                <span>content ２</span>
                <div class='optional-info__buttons'>
                    <button class='previousButton' mat-flat-button matStepperPrevious>
                        <mat-icon>keyboard_return</mat-icon><span>基本情報へ戻る</span>
                    </button>
                    <button class='nextButton' mat-raised-button matStepperNext>
                        <span>レイアウトへ進む</span><mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </mat-step>
            <mat-step class='layout-confirmation'>
                <ng-template matStepLabel>レイアウト</ng-template>
                <span>content ３</span>
                <div class='layout-confirmation__buttons'>
                    <button class='previousButton' mat-flat-button matStepperPrevious>
                        <mat-icon>keyboard_return</mat-icon><span>任意情報へ戻る</span>
                    </button>
                    <button class='nextButton' mat-raised-button matStepperNext>
                        <span>確認画面へ進む</span><mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </mat-step>
            <mat-step class='confirmation'>
                <ng-template matStepLabel>確認画面</ng-template>
                <span>content ３</span>
                <div class='confirmation__buttons'>
                    <button class='previousButton' mat-flat-button matStepperPrevious>
                        <mat-icon>keyboard_return</mat-icon><span>レイアウトへ戻る</span>
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>

    </main>
</div>