<div class='container'>
    <form class='formGroup' [formGroup]='inputData' (ngSubmit)='onSubmit()'>
        <mat-form-field class='formGroup__name-form' appearance="outline" color='warn'> 
            <mat-label>ユーザー名</mat-label>
            <input matInput formControlName='name'>
        </mat-form-field>

        <mat-form-field class='formGroup__password-form' appearance="outline" color='warn'>
            <mat-label>パスワード</mat-label>
            <input matInput formControlName='password' [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class='formGroup__button'>
            <button class='formGroup__button--cancel' mat-raised-button type="submit" [routerLink]="'/'">キャンセル</button>
            <button class='formGroup__button--submit' mat-raised-button type="submit" [disabled]='inputData.invalid'>ログインする</button>
        </div>
    </form>
</div>
