<div class='container'>
    <header>
        <section class='head-line'>
            <a class='head-line__left' [routerLink]="'/'">
                <!-- <img class='head-line__left--image' src='./assets/images/chef_hat.png'> -->
                <div class='head-line__left--title'>
                    <h1 class='main-title'>Instant Chef</h1>
                    <div class='sub-title'>料理が大好きなあなたへ</div>
                </div>
            </a>

            <section class='search'>
                <form class='search__keyword-form'>
                    <div class='search__keyword-form--inner'>
                        <mat-icon>search</mat-icon>
                        <input class='form' type='text'>
                    </div>
                    <button class='search__keyword-form--submit' type='submit' mat-flat-button>検索</button>
                </form>
            </section>
                
            <div class='head-line__right'>
                <button [class.active]='page.isActive(PageTypeEnum.Signup, url)' [routerLink]="'/users/signup'" mat-flat-button><mat-icon>perm_identity</mat-icon><span>無料登録</span></button>
                <button class='head-line__right--log-in' [class.active]='page.isActive(PageTypeEnum.Login, url)' [routerLink]="'/users/login'" mat-flat-button><mat-icon>login</mat-icon><span>ログイン</span></button>
            </div>
        </section>
    </header>

    <section class='content'>
        <section class='content__nav'>
            <app-nav></app-nav>
        </section>

        <section class='content__feature'>
            <div *ngIf='!page.isActive(PageTypeEnum.User, url)' class='image-box'>
                <img [src]='imagePath'>
            </div>
            <div class='content__grid' [class.userPage]='page.isActive(PageTypeEnum.User, url)'>
                <div class='content__grid--left'>
                    <router-outlet></router-outlet>
                </div>
                <div *ngIf='!page.isActive(PageTypeEnum.User, url)' class='content__grid--right'>
                    
                </div>
            </div>
            <footer class='footer' *ngIf='!page.isActive(PageTypeEnum.User, url)'>
                <ul class='footer__list'>
                    <li ><a [routerLink]="'/'">ホーム</a></li>
                </ul>
            </footer>
        </section>
    </section>
</div>
