@import '../../../scss/color.scss';
@import '../../../scss/font-size.scss';

.container {
    display: block;
    border: 1px solid $yellow;
    border-radius: 5px;
    background-color: $yellow;
    width: 480px;
    height: 500px;
}

.list {
    border: 1px solid black;
    border-radius: 5px;
    background-color: $background;
    padding: 20px;
    margin: 20px;
    height: 370px;

    &__content {
        position: relative;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}