@import '../../../scss/color.scss';
@import '../../../scss/font-size.scss';

.container {
    display: block;
    border: 1px solid $yellow;
    border-radius: 5px;
    background-color: $yellow;
    width: 480px;
    height: 500px;
}

.header {
    &__title {
        border: 1px solid $orange;
        border-radius: 5px;
        font-weight: normal;
        padding: 10px;
        background-color: $orange;
        color: white;
        margin: 0;
        font-size: $large;
        text-align: center;
    }
}

.list {
    border: 1px solid black;
    border-radius: 5px;
    background-color: $background;
    position: relative;
    padding: 20px;
    margin: 20px;
    height: 370px;

    &__content {
        position: relative;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}