@import '../../../scss/color.scss';
@import '../../../scss/font-size.scss';

.container {
    display: block;
    border: 1px solid $yellow;
    border-radius: 5px;
    background-color: $yellow;
    padding: 20px;
}

.list {
    border: 1px solid black;
    border-radius: 5px;
    background-color: $background;
    padding: 20px;
    height: 290px;

    &__content {
        position: relative;
        height: 254px;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}