//Color Pallets
    $orange: #ffa500;
    $deep-orange: #ff4500;
    $brown: #cc9966;
    $deep-brown: #7b5544;
    $yellow: #fffacd;
    $red: #ffa07a;
    $deep-red: #ff0000;

//Color template
    $background: #ffffef;
    $logoColor: #ff4500;